.products-list {
    margin: 15px 0;
    padding: 20px 15px;
    background-color: #fff;
}

.products-list .title-top {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 15px;
}

.list-items {
    margin-top: 10px;
}