.products-list {
    margin: 20px 0;
    padding: 20px 5px;
    background-color: #fff;
}

.title-top {
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 15px;
}

.list-items {
    margin-top: 10px;
}