.product-mini {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    margin: 8px auto;
    padding: 6px 9px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.product-mini:hover {
    background: #fafafa;
}

.product-mini .img {
    width: 100%;
    height: 100%;
    background: #fafafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.product-mini .img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.product-mini .img {
    flex: 0.6;
    margin-right: 5px;
}

.product-mini .img img {
    height: 88px;
}

.product-mini .text {
    flex: 1;
    height: 100px;
}

.product-mini .text .title-mini {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-mini .prices {
    color: #e74c3c;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.product-mini .prices .MuiSvgIcon-root {
    color: #858585;
    font-size: 14px;
}

.product-mini .category-b {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #858585;
}

.product-mini .category-b .MuiSvgIcon-root {
    font-size: 14px;
    margin-left: 3px;
}