* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    margin-bottom: 81px;
}

.wrapper,
.body {
    background-color: rgb(244, 244, 244);
}

.showcase {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.slider {
    display: block;
    margin-top: 82px;
}