@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.header {
    margin-bottom: 81px;
}

.wrapper,
.body {
    background-color: rgb(244, 244, 244);
}

.showcase {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.slider {
    display: block;
    margin-top: 82px;
}

.app {
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .app {
        padding-bottom: 300px;
    }
}

@media (max-width: 510px) {
    .app {
        padding-bottom: 290px;
    }
}