.login {
    width: 90%;
    max-width: 980px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}

.slogan {
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 20px;
}

.login img.login-img {
    width: 80%;
    animation: moving 4s infinite;
}

.login img {
    width: 32px;
    margin-left: 25px;
}

.my-facebook-button-class,
.my-google-button-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #585858 !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
    background-color: #fff !important;
    border: none !important;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    position: relative;
}

.my-facebook-button-class img,
.gg-login-inner img {
    width: 26px;
    margin-right: 10px;
}

.gg-login-inner {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.login form input {
    margin-top: 20px;
    height: 40px;
    padding: 0 15px;
    border-radius: 999px;
    outline: none;
    border: 0;
    background-color: rgb(243, 243, 243);
}

form button {
    margin-top: 20px;
    border-radius: 999px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    background-size: 200%;
    transition: background-position .5s;
}

form button:hover {
    background-position: center;
}

@keyframes moving {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px)
    }
}

@media (max-width: 510px) {
    .slogan {
        font-size: 16px !important;
    }
    .login form input {
        margin-top: 14px;
    }
    .login p.text-sm {
        font-size: 14px;
    }
    .gg-login-inner span,
    .my-facebook-button-class {
        font-size: 12px;
    }
}