.register {
    width: 90%;
    max-width: 980px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}

.slogan {
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 20px;
}

.register img.register-img {
    width: 80%;
    animation: moving 4s infinite;
}

.register img {
    width: 32px;
    margin-left: 25px;
}

.register .name {
    display: flex;
    justify-content: space-between;
}

.register .name .MuiTextField-root {
    width: 48%;
}

.fb,
.google {
    display: flex;
    align-items: center;
    border: 1px solid hsl(0, 0%, 78%);
    margin: 20px 5px;
    padding: 6px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.fb p,
.google p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

form {
    display: flex;
    flex-direction: column;
}

form .submit-btn {
    margin-top: 20px;
    border-radius: 999px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    background-size: 200%;
    transition: background-position .5s;
}

form .submit-btn:hover {
    background-position: center;
}

.register .MuiTextField-root,
.register .MuiFormControl-root {
    margin-top: 20px;
}

.register .MuiInputLabel-root {
    font-size: 14px;
}

.text-info {
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.4px;
    margin-top: 6px;
    color: #242424;
    justify-self: start;
}

.register .terms a {
    color: dodgerblue;
}

.text-sm {
    font-size: 14px;
}


/* #label-avt {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}

#userAvatar,
#shopAvatar {
    background-color: #fff;
    cursor: pointer;
} */


/* .imgUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgUp p {
    font-size: 14px;
} */

@keyframes moving {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px)
    }
}

@media (max-width: 510px) {
    .slogan {
        font-size: 16px !important;
    }
    .fb,
    .google {
        font-size: 14px;
    }
}