.products {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.products .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.addProduct {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    border-radius: 999px;
    font-size: 13px;
    cursor: pointer;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addProduct:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.action-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sortBy {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.sortBy .text {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.action-top .searchBox input {
    border: 0;
    outline: none;
    background-color: rgba(194, 194, 194, 0.363);
    padding: 5px 8px;
    height: 35px;
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
}

.main {
    margin-top: 20px;
}

@media (max-width: 510px) {
    .products {
        font-size: 85%;
    }
    .products .MuiSelect-root {
        font-size: 13px;
        padding: 3px;
    }
}