.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton.text {
    width: 100%;
    height: 12px;
}

.skeleton.textArea {
    width: 100%;
    height: 300px;
}

.skeleton.title {
    width: 20%;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skeleton.thumbnail {
    width: 200px;
    height: 200px;
}

.skeleton-wrapper {
    border-radius: 4px;
    position: relative;
}


/* theme */

.skeleton-wrapper.light {
    background: #f2f2f2;
}

.skeleton-wrapper.dark {
    background: #444;
}

.skeleton-wrapper.dark .skeleton {
    background: #777;
}


/* animation */

.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 1.4s infinite;
    overflow: hidden;
}

.shimmer {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
    }
}