.row {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.row .circle {
    margin-top: -8px;
    margin-right: 3px;
}

.col {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}