.list-items {
    margin: 20px 0;
    padding: 20px 15px;
    background-color: #fff;
}

.sortBy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 10px;
}

@media (max-width: 570px) {
    .sortBy {
        flex-direction: column;
        align-items: flex-start;
    }
}