.dashboard {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F0F9FF;
    border-radius: 10px;
}

.banner .text {
    margin: 20px 8px 20px 20px;
}

.banner .text h4 {
    color: #6d6d6d;
}

.banner .text p {
    color: gray;
}

.banner .text span {
    color: #1b1b1b;
}

.banner img {
    width: 250px;
    height: auto;
    animation: moving 4s infinite;
}

.dashboard h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.over-view {
    display: flex;
    flex-direction: column;
}

.over-view h4,
.dashboard .detail h4 {
    margin-left: 20px;
}

.dashboard .detail a,
.dashboard .over-view a {
    font-weight: 500;
    color: dodgerblue;
}

.over-view .shop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.over-view .shop-info .MuiTypography-root {
    margin-top: 15px;
}

.over-view .shop-info .MuiAvatar-root {
    width: 100px;
    height: 100px;
    border: 1px solid steelblue;
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 120px;
    margin: 20px 20px 30px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.box::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.301);
    position: absolute;
    top: -10px;
    right: -20px;
}

.box .num {
    font-size: 26px;
    margin-top: 12px;
    font-weight: 700;
}

.box.customer {
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    box-shadow: 0px 3px 12px rgba(16, 173, 76, 0.431);
    cursor: pointer;
}

.box.view {
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    box-shadow: 0px 3px 12px rgba(144, 69, 141, 0.431);
}

.box.fav {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    box-shadow: 0px 3px 12px rgba(173, 16, 42, 0.431);
}

.box.product {
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    box-shadow: 0px 3px 12px rgba(16, 115, 173, 0.431);
    cursor: pointer;
}

.box.order {
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    box-shadow: 0px 3px 12px #f8d7005b;
    cursor: pointer;
}

.detail p {
    margin-left: 30px;
}

@media (max-width: 510px) {
    .dashboard {
        font-size: 85%;
    }
}