.product-detail {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 5px;
}

.product-detail section {
    background-color: white;
    padding: 25px 15px;
}

.product-detail section:last-child {
    margin-top: 20px;
}

.d-flex-r {
    display: flex;
    align-items: center;
}

.address {
    display: flex;
    align-items: center;
}

.address .MuiTypography-root {
    display: inline !important;
}

.mr-5 {
    margin-right: 5px;
}

.description {
    padding: 15px 10px;
    line-height: 1.5;
}

.product-detail .product-description__left {
    margin-top: 10px;
}

.product-detail>* .MuiTypography-root {
    font-size: 14px;
    font-weight: 400;
}

.product-detail .MuiButton-root {
    margin-bottom: 8px;
}

.product-detail .MuiTypography-subtitle2 {
    font-size: 15px;
}

.product-detail .title {
    font-weight: 500;
    font-size: 20px;
    word-wrap: break-word;
}

.product-detail .prices {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    color: #f50057;
}

.save-fav {
    color: palevioletred;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.save-fav .MuiSvgIcon-root {
    cursor: pointer;
    color: palevioletred;
    font-size: 15px;
}

.save-fav .save,
.save-fav .fav {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0px 3px;
    border: 1px solid palevioletred;
    border-radius: 999px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    height: 60px;
}

.contact-more {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border: solid 1px rgba(151, 151, 151, 0.15);
    border-radius: 5px;
}

.contact-more .MuiSvgIcon-root {
    font-size: 16px;
    margin-bottom: 3px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 21px;
    margin-right: 20px;
    background-color: #fff;
    color: #74b9ff;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.go-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: #74b9ff;
    margin-top: 21px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
    color: dodgerblue;
}

.guaranteed {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 10px;
}

.guaranteed .MuiSvgIcon-root {
    color: #74b9ff;
    font-size: 16px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.go-to-cart:hover {
    background-color: dodgerblue;
}

.buy {
    display: flex;
    align-items: center;
}

.MuiBreadcrumbs-root a,
.text-breadcrumbs {
    font-size: 13px !important;
    color: #555555 !important;
}

.text-breadcrumbs {
    font-weight: 700 !important;
    text-shadow: .3px .2px .8px #bdbdbd;
}

.text-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 220px;
    -webkit-box-orient: vertical;
}

.MuiBreadcrumbs-root {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 10px 5px;
    background-color: #fff;
}

.map-link,
.fb-link,
.zalo-link,
.web-link {
    color: dodgerblue;
    font-weight: 400;
    margin-left: 5px;
}

.supplier {
    margin-left: 5px;
}


/* 
.phone,
.mess {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 3px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.phone {
    background-color: #2ecc71;
}

.phone a {
    color: #fff;
}

.phone .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.mess {
    background-color: #74b9ff;
}

.mess a {
    color: #fff;
}

.mess .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.web,
.zalo,
.facebook {
    display: flex;
    align-items: center;
}

.web .MuiSvgIcon-root {
    margin-right: 5px;
}

.facebook .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.zalo img,
.facebook img {
    margin-right: 5px;
    width: 23px;
} */

.link-view-more {
    display: flex;
    align-items: center;
    margin-left: 9px;
    color: dodgerblue;
    font-size: 14px;
    width: fit-content;
}

.link-view-more .MuiSvgIcon-root {
    font-size: 12px;
    transition: all .2s ease-in-out;
}

.link-view-more:hover .MuiSvgIcon-root {
    transform: translateX(5px);
}

.comment-box {
    margin-top: 10px !important;
}

.avt-cmt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avt-cmt-box .MuiAvatar-root {
    width: 25px !important;
    height: 25px !important;
}

.avt-cmt-box p {
    font-size: 12px;
}

.rv-item {
    margin-bottom: 10px;
}

.rv-item .name {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
}

.rv-item .name .MuiAvatar-root {
    width: 25px !important;
    height: 25px !important;
    margin-right: 5px;
}

.rv-item .time {
    font-size: 12px;
    color: gray;
}

.rv-item .cmt {
    font-size: 14px;
}

@media (max-width: 510px) {
    .product-detail .MuiTypography-subtitle2 {
        font-size: 13px;
    }
    .product-detail h3,
    .product-detail h4 {
        font-size: 16px;
    }
    /* .phone,
    .mess,
    .web,
    .zalo,
    .facebook {
        font-size: 12px;
    } */
    .description {
        font-size: 14px;
    }
    .product-detail .icon-detail {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .product-detail .link-icon {
        font-size: 19px;
        margin-top: 2px;
    }
    .MuiBreadcrumbs-root a,
    .text-breadcrumbs {
        font-size: 11px !important;
    }
    .text-breadcrumbs {
        width: 70px;
    }
    .link-view-more,
    .link-view-more .MuiSvgIcon-root {
        font-size: 14px;
    }
    /* .web .MuiSvgIcon-root {
        width: 16px;
    } */
    /* .zalo img,
    .facebook img {
        width: 14px;
        margin-left: 1px;
    } */
    .buy {
        justify-content: space-between;
    }
    .add-to-cart,
    .go-to-cart {
        width: 100%;
    }
}