.product-detail {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 5px;
}

.product-detail section {
    background-color: white;
    padding: 25px 15px;
}

.product-detail section:last-child {
    margin-top: 20px;
}

.d-flex-r {
    display: flex;
    align-items: center;
}

.mr-5 {
    margin-right: 5px;
}

.description {
    padding: 15px 10px;
    line-height: 1.5;
}

.product-detail .product-description {
    margin-top: 10px;
}

.product-detail .MuiButton-root {
    margin-bottom: 8px;
}

.product-detail .MuiTypography-subtitle2 {
    font-size: 15px;
}

.product-detail .title {
    font-weight: 500;
    font-size: 20px;
    word-wrap: break-word;
}

.product-detail .prices {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.save-fav {
    margin-top: 10px;
}

.save-fav .MuiSvgIcon-root {
    margin-right: 20px;
    cursor: pointer;
    color: palevioletred;
    font-size: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    height: 60px;
}

.contact-more {
    padding: 5px;
    border: solid 1px rgba(151, 151, 151, 0.15);
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.15);
}

.MuiBreadcrumbs-root a,
.text-breadcrumbs {
    font-size: 13px !important;
    color: #555555 !important;
}

.text-breadcrumbs {
    font-weight: 700 !important;
    text-shadow: .3px .2px .8px #bdbdbd;
}

.text-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 220px;
    -webkit-box-orient: vertical;
}

.MuiBreadcrumbs-root {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 10px 5px;
    background-color: #fff;
}

.phone,
.mess {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 3px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.phone {
    background-color: #2ecc71;
}

.phone a {
    color: #fff;
}

.phone .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.mess {
    background-color: #74b9ff;
}

.mess a {
    color: #fff;
}

.mess .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.web,
.zalo,
.facebook {
    display: flex;
    align-items: center;
}

.web .MuiSvgIcon-root {
    margin-right: 5px;
}

.facebook .MuiSvgIcon-root {
    margin-right: 5px;
    color: #fff;
}

.zalo img,
.facebook img {
    margin-right: 5px;
    width: 23px;
}

.share {
    display: flex;
    justify-items: center;
}

.share .copy-link-btn {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.share .MuiSvgIcon-root {
    cursor: pointer;
}

.fb-icon {
    margin-right: 20px;
    margin-bottom: -3px;
    width: 30px;
}

.link-view-more {
    display: flex;
    align-items: center;
    margin-left: 9px;
    color: dodgerblue;
    font-size: 14px;
}

.link-view-more .MuiSvgIcon-root {
    font-size: 12px;
    transition: all .2s ease-in-out;
}

.link-view-more:hover .MuiSvgIcon-root {
    transform: translateX(5px);
}

@media (max-width: 510px) {
    .product-detail .MuiTypography-subtitle2 {
        font-size: 13px;
    }
    .product-detail h3,
    .product-detail h4 {
        font-size: 16px;
    }
    .phone,
    .mess,
    .web,
    .zalo,
    .facebook {
        font-size: 12px;
    }
    .description {
        font-size: 14px;
    }
    .product-detail .icon-detail {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .product-detail .link-icon {
        font-size: 19px;
        margin-top: 2px;
    }
    .MuiBreadcrumbs-root a,
    .text-breadcrumbs {
        font-size: 11px !important;
    }
    .text-breadcrumbs {
        width: 70px;
    }
    .link-view-more,
    .link-view-more .MuiSvgIcon-root {
        font-size: 14px;
    }
    .web .MuiSvgIcon-root {
        width: 16px;
    }
    .zalo img,
    .facebook img {
        width: 14px;
        margin-left: 1px;
    }
}