.product-detail {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.product-detail .product-description {
    margin-top: 10px;
}

.product-detail .MuiButton-root {
    margin-bottom: 8px;
}

.product-detail .MuiTypography-subtitle2 {
    font-size: 15px;
}

.product-detail h3 {
    font-weight: 500;
    font-size: 18px;
    word-wrap: break-word;
}

.product-detail h4 {
    font-size: 18px;
}

.save-fav {
    margin-top: 10px;
}

.save-fav .MuiSvgIcon-root {
    margin-right: 20px;
    cursor: pointer;
    color: palevioletred;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.text-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 220px;
    -webkit-box-orient: vertical;
}

.phone,
.mess,
.web,
.zalo,
.facebook {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.phone .MuiSvgIcon-root {
    margin-right: 5px;
}

.mess .MuiSvgIcon-root {
    margin-right: 5px;
}

.web .MuiSvgIcon-root {
    margin-right: 5px;
}

.facebook .MuiSvgIcon-root {
    margin-right: 5px;
}

.zalo img,
.facebook img {
    margin-right: 5px;
    width: 25px;
}

.share {
    display: flex;
    justify-items: center;
}

.share .copy-link-btn {
    margin-left: 12px;
}

.share .MuiSvgIcon-root {
    cursor: pointer;
}

.fb-icon {
    margin-right: 20px;
    margin-bottom: -3px;
    width: 30px;
}

@media (max-width: 510px) {
    .product-detail .MuiTypography-subtitle2 {
        font-size: 13px;
    }
    .product-detail h3,
    .product-detail h4 {
        font-size: 16px;
    }
    .phone,
    .mess,
    .web,
    .zalo,
    .facebook {
        font-size: 12px;
    }
    .description {
        font-size: 14px;
    }
}