.slider-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.slider-top .image-gallery,
.slider-top .image-gallery-slide,
.slider-top .image-gallery-slide img {
    height: 300px;
}