.footer-wrapper {
    width: 100%;
    font-size: 16px;
    background: #3f4140;
    color: #d0d0d0;
    border-top: 1px solid #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto 0;
    padding: 26px 15px 3px;
}

.footer-inner .footer-link {
    color: rgb(180, 180, 180);
    font-size: 14px;
    font-weight: 300;
    display: block;
    line-height: 1.5;
    width: fit-content;
}

.footer-inner .footer-link:hover {
    text-decoration: underline;
}

.text-bottom {
    color: gray;
    line-height: 1;
}

.socal-icon img {
    margin-right: 5px;
}

.payment-icons {
    margin-top: 10px;
}

.get-app img {
    width: 85px;
}

@media (max-width: 510px) {
    .footer .MuiTypography-root {
        font-size: 12px;
    }
    .text-bottom {
        font-size: 11px !important;
    }
    .get-app img {
        width: 65px;
    }
    .qrcode {
        width: 47px;
    }
}