.footer-wrapper {
    width: 100%;
    font-size: 16px;
    background: #3f4140;
    color: #d0d0d0;
    /* background: url("./bg-repeat.png") repeat; */
    border-top: 1px solid #d8d8d8;
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto 0;
    padding: 15px 15px 3px;
}

.text-bottom {
    color: gray;
    line-height: 1;
}

.socal-icon img {
    margin-right: 5px;
}

@media (max-width: 510px) {
    .footer .MuiTypography-root {
        font-size: 12px;
    }
    .text-bottom {
        font-size: 11px !important;
    }
}