.place-order-wrapper {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 15px;
}

.place-order-wrapper .top-order {
    background-color: rgb(85, 85, 85);
    color: rgb(226, 226, 226);
    padding: 3px;
}

.place-order-wrapper .cart-item {
    justify-content: flex-start;
}

.place-order-wrapper .title {
    font-size: 15px;
    margin-top: 20px;
}

.place-order-wrapper .top-order>.title {
    margin-top: 0px;
}

.place-order-wrapper .top-order>.title .MuiSvgIcon-root {
    color: rgb(226, 226, 226);
    margin-bottom: -5px;
}

.place-order-wrapper .address,
.place-order-wrapper .payment {
    color: gray;
    font-size: 13px;
    margin-top: 3px;
}

.place-order-wrapper .address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.place-order-wrapper .tax {
    margin-bottom: 8px;
}