.quantity-input {
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-top: 10px;
}

.quantity-input p {
    margin-right: 5px;
}

.quantity-input__modifier,
.quantity-input__screen {
    user-select: none;
    outline: none;
}

.quantity-input__modifier {
    padding: .45rem;
    width: 2.5rem;
    height: 2rem;
    background: #f3f3f3;
    color: #888;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    text-shadow: 0 1px 0 rgba(#fff, .6);
    cursor: pointer;
}

.quantity-input__modifier:hover {
    background: darken(#f3f3f3, 10%);
    color: darken(#888, 20%)
}

.quantity-input__modifier--left {
    border-radius: 5px 0 0 5px;
}

.quantity-input__modifier--right {
    border-radius: 0 5px 5px 0;
}

.quantity-input__screen {
    width: 3rem;
    padding: .45rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}