.gallery-product {
    display: block;
    margin: 10px auto 5px;
}

.gallery-product .image-gallery,
.gallery-product .image-gallery-slide {
    height: 300px;
    max-height: 100vh;
}

.gallery-product .image-gallery {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.gallery-product .image-gallery {
    background-color: rgb(190, 190, 190);
}

.gallery-product .image-gallery-slide img {
    background-color: rgb(236, 236, 236);
    height: 300px;
    max-height: 100vh;
}

.gallery-product .fullscreen .image-gallery-slide img,
.gallery-product .fullscreen .image-gallery-slide {
    height: 100vh;
}