.gallery-product .image-gallery,
.gallery-product .image-gallery-slide {
    background-color: rgba(200, 200, 200, 0.287);
    height: 300px;
}

.gallery-product .image-gallery-slide img {
    height: 300px;
    background-color: #fff;
}