.empty-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgba(44, 71, 146, 0.15);
    border: solid 1px rgba(219, 219, 219, 0.1);
    transition: all 0.5s ease-in-out;
    position: relative;
}

.empty-card:hover {
    background-color: #ebebeb;
}

.empty-card .icon-button {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-button .MuiIconButton-root {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(44, 71, 146, 0.15);
    background-color: rgb(236, 236, 236);
    transition: all 0.5s ease-in-out;
}

.icon-button .MuiIconButton-root:hover {
    background-color: rgb(212, 212, 212);
}

@media (max-width: 510px) {
    .empty-card .text {
        font-size: 14px;
        transform: translateX(-10px);
    }
}