.navbar-wrapper {
    padding-bottom: 14px;
    box-shadow: 0 2px 5px 0 rgba(210, 210, 210, 0.50);
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 999 !important;
}

.navbar .logo {
    margin-top: 2px;
    height: 30px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    position: relative;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.option {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option:hover {
    opacity: 0.6;
}

.option>.MuiSvgIcon-root {
    margin-right: 3px;
    margin-top: -2px;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    flex: 1.2;
    margin-left: 15px;
}

.navbar-right__top,
.navbar-right__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right__bottom {
    margin-top: 10px;
}

.navbar-right__bottom .cart .MuiSvgIcon-root {
    cursor: pointer;
}

.logo {
    height: 50px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin-right: 3px;
    margin-top: 5px;
    background-color: #eeeeee;
    border-radius: 999px;
}

.search-box:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-box>input {
    border-width: 0;
    outline: unset;
    width: 100%;
    padding: 0 8px;
    background-color: transparent;
}

.search-box .MuiSvgIcon-root {
    color: #6394F8;
}

.user-wrapper,
.user-inner {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-inner .MuiAvatar-root,
.option .MuiAvatar-root {
    border: 1px solid #3498db;
    width: 32px;
    height: 32px;
}

.user-inner .user-name {
    color: #3498db;
    margin-left: 6px;
    font-size: 14px;
}

::placeholder {
    color: rgb(124, 124, 124);
}

.sell-btn {
    margin: 0;
}

.cart-modal p {
    font-size: 14px;
}

.cart-modal .cart-modal-title {
    justify-content: space-between;
}

.cart-modal .title-left {
    margin-right: 50px;
}

.cart-modal .title-left p {
    margin-left: 20px;
}

.cart-modal .title-right .prices {
    color: tomato;
    font-weight: 400;
    text-shadow: unset;
}

.cart-modal .title-left,
.cart-modal .cart-modal-footer {
    display: flex;
    justify-content: center;
}

.cart-modal .cart-modal-title {
    display: flex;
    justify-content: space-between;
}

.cart-modal .cart-modal-body {
    display: flex;
    flex-direction: column;
}

.cart-modal .cart-modal-footer button {
    color: #fff;
    background-color: #6394F8;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 250px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-cart-item,
.product-cart-item .sub-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-cart-item .img {
    width: 50px;
    height: 35px;
    margin-right: 8px;
    background-color: rgb(194, 194, 194);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-cart-item .text .title {
    font-size: 14px;
    font-weight: 400;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 200px;
    -webkit-box-orient: vertical;
}

.product-cart-item .text .title:hover {
    color: dodgerblue;
}

.product-cart-item .sub-text .price {
    color: rgb(228, 65, 54);
    font-size: 13px;
}

.product-cart-item .sub-text .qty {
    color: gray;
    font-size: 13px;
}


/* Responsive Navbar*/

@media (max-width: 810px) {
    .navbar-left {
        flex: 1
    }
    .navbar-right {
        flex: 1
    }
}

@media (max-width: 610px) {
    .navbar-left {
        flex: 0.85
    }
    .navbar-right {
        flex: 1
    }
}

@media (max-width: 510px) {
    .sell-btn,
    .navbar-right__top {
        display: none;
    }
    .navbar-right {
        justify-content: flex-end;
        flex: 0.7;
        margin-left: 5px;
    }
    .navbar-left {
        flex: 1;
    }
    .navbar-left h2 {
        font-size: 16px;
    }
    .navbar-right__bottom {
        justify-content: flex-end;
        align-items: center;
    }
    .navbar-right__bottom .cart .MuiIconButton-root {
        padding: 5px;
    }
     ::placeholder {
        font-size: 12px;
    }
    .search-box {
        margin-top: -3px;
        height: 30px;
    }
    .search-box>input {
        padding: 0;
    }
}