.navbar-wrapper {
    padding-bottom: 14px;
    box-shadow: 0 2px 5px 0 rgba(210, 210, 210, 0.50);
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 999 !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    position: relative;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.navbar-left h2 {
    color: #3498db;
}

.option {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option:hover {
    opacity: 0.6;
}

.option>.MuiSvgIcon-root {
    margin-right: 3px;
    margin-top: -2px;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    flex: 1.2;
    margin-left: 15px;
}

.navbar-right__top,
.navbar-right__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right__bottom {
    margin-top: 8px;
}

.logo {
    height: 50px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin-right: 5px;
    margin-top: 8px;
    background-color: #eeeeee;
    border-radius: 999px;
}

.search-box:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-box>input {
    border-width: 0;
    outline: unset;
    width: 100%;
    padding: 0 8px;
    background-color: transparent;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user .MuiAvatar-root {
    border: 1px solid #3498db;
}

.user .user-name {
    margin-left: 6px;
}

::placeholder {
    color: rgb(124, 124, 124);
}

.sell-btn {
    margin: 0;
}


/* Responsive Navbar*/

@media (max-width: 810px) {
    .navbar-left {
        flex: 1
    }
    .navbar-right {
        flex: 1
    }
}

@media (max-width: 610px) {
    .navbar-left {
        flex: 0.85
    }
    .navbar-right {
        flex: 1
    }
}

@media (max-width: 510px) {
    .navbar-right__top {
        /* position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        top: 144px;
        transform: translateX(600px);
        bottom: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        transition: all 0.4s ease-in-out; */
        display: none;
    }
    .user {
        display: none;
        /* position: fixed;
        justify-content: center;
        z-index: 999;
        left: 0;
        right: 0;
        top: 82px;
        transform: translateX(600px);
        bottom: 0;
        overflow: hidden;
        width: auto;
        height: 64px;
        transition: all 0.4s ease-in-out;
        border-bottom: 1px solid rgba(128, 128, 128, 0.322); */
    }
    .option {
        color: rgb(37, 37, 37);
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid rgba(128, 128, 128, 0.322);
    }
    .option .MuiTypography-root {
        font-size: 14px;
    }
    .navbar-right {
        justify-content: flex-end;
        flex: 0.7;
        margin-left: 5px;
    }
    .navbar-left {
        flex: 1;
    }
    .navbar-right__bottom {
        justify-content: flex-end;
    }
     ::placeholder {
        font-size: 12px;
    }
    .search-box>input {
        padding: 0;
    }
    .sell-btn p {
        font-size: 11px;
    }
    .sell-btn .MuiSvgIcon-root {
        font-size: 17px;
        margin-top: -2px;
    }
}